// ANIMATIONS //
$transition: 0.3s !default;
$easing: cubic-bezier(0.23, 1, 0.32, 1) !default;

// BORDERS
$radius: 4px !default;

// Accessibility
$outlines: true !default;

$cols: 12 !default;
$gap: 2rem !default;
$max-width: 89.75rem !default;
$max-width-desktop: 100rem !default;
$horizontal-padding: 1rem !default;
$bg: true !default;
$row-space: 80px !default;
