// SPACING //
$base-size: 1rem !default;

// Number now refers to a px value

$size-4: $base-size * 0.25 !default;
$size-6: $base-size * 0.375 !default;
$size-8: $base-size * 0.5 !default;
$size-10: $base-size * 0.625 !default;
$size-12: $base-size * 0.75 !default;
$size-14: $base-size * 0.875 !default;
$size-16: $base-size * 1 !default;
$size-18: $base-size * 1.125 !default;
$size-20: $base-size * 1.25 !default;
$size-22: $base-size * 1.375 !default;
$size-24: $base-size * 1.5 !default;
$size-26: $base-size * 1.625 !default;
$size-28: $base-size * 1.75 !default;
$size-30: $base-size * 1.875 !default;
$size-32: $base-size * 2 !default;
$size-48: $base-size * 3 !default;
$size-64: $base-size * 4 !default;
$size-80: $base-size * 5 !default;
$size-160: $base-size * 10 !default;