$primary: #558996;
$secondary: #35383c;
$grey-light: #dfe0e2;
$grey-very-light: #f7f4f3;

$white: #ffffff;
$black: #222725;

$body: $white;
$link: $primary;
$link-hover: darken($link, 10%);
$text: $secondary;
$border: $secondary;

$warning: #ffe74c;
$warning-light: #fff9d2;

$success: #6bf178;
$success-light: #dafcdd;

$danger: #fa576e;
$danger-light: #f26c7f;
