@forward '../../node_modules/@doddle-agency/doddle-base/01_abstracts/font';

// Only available in 400
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
// Only importing 400 and 500, bold fonts should use Bebas Neue
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

$primary: 'Montserrat', sans-serif;
$secondary: 'Bebas Neue', sans-serif;

$medium: 500;

// $monospace: monospace;
// $render-mode: optimizeLegibility;

// EXAMPLE:
// Use the below example to replace !default variable values in base
// @forward '../../node_modules/@doddle-agency/doddle-base/01_abstracts/fonts' with (
//     $base: 20px,
//     $light: 200,
//     $normal: 300,
//     $semi: 400,
//     $bold: 800
// );
