---
import { Image } from 'astro:assets';
import Logo from '../images/Square-One-Brand-Icon-Grey.svg';
import Socials from '../components/Socials.astro';

export interface Props {
  addressLine1?: string;
  addressLine2?: string;
  alt?: string;
  city?: string;
  companyName?: string;
  companyTagline?: string;
  email?: string;
  phone?: string;
  postcode?: string;
}

const { addressLine1, addressLine2, alt, city, companyName, companyTagline, email, phone, postcode, } = Astro.props as Props;
---
<footer>
  <div class="row top">
    <div class="col-6">
      <h2 class="title">Contact Us</h2>
      <ul class="contact-info">
        <li class="address">{ addressLine1 }, { addressLine2 }, { city }&nbsp;{ postcode }</li>
        <li class="telephone"><a href={`tel:${ phone }`} target="blank" title="Call Square One">Call Square One</a></li>
        <li class="email"><a href={`mailto:${ email }`} target="blank" title="Email Sqaure One">Email Sqaure One</a></li>
      </ul>
      <Socials />
    </div>
    <div class="col-6 flow">
      <p class="small">It costs nothing to start a conversation.</p>
      <p class="small">We'd love to find out more about you and your own project. Please feel comfortable to pick up the phone or drop us a line, with no obligation - we won’t give you any hard-sell, that’s not our style. We just love getting excited about the possibilities in bringing a building back to its former glory - whether that’s Edwardian, Georgian, Victorian, Regency - even the 1960s!</p>
      <a href=`mailto:${ email }` title={`Email ${ companyName }`} class="button primary solid fw-mobile">Request an Estimate</a>
    </div>
  </div>
  <div class="signoff">
    <div class="row">
      <div class="col-6">
        <a href='/' title='Return to Homepage'>
          <Image src={ Logo } alt={ alt } width='30' height='50' loading="lazy"/>
        </a>
        <p>
          All rights reserved&nbsp;&copy;&nbsp;{ new Date().getFullYear() }&nbsp;{ companyName },&nbsp;{ companyTagline }
        </p>
      </div>
      <div class="col-6">
        <script src="//app.doddle.agency/builtby.js" defer></script>
        <built-by></built-by>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  @use '../styles/config/colour';
  @use '../styles/config/core';
  @use '../styles/config/breakpoints';
  @use '../styles/config/fonts';

  $wrapper-padding-large: 2rem;
  // $address: '../images/icon-location.svg';
  // $phone: '../images/icon-phone.svg';
  // $email: '../images/icon-email.svg';

  footer {
    padding-block: 0px;

    .contact-info {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      list-style: none;

      li {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: fonts.$medium;

        &.address::before,
        &.telephone::before,
        &.email::before {
          content: '';
          display: inline-block;
          width: 15px;
          height: 15px;
          background-repeat: no-repeat;
          background-position: center;
        }

        &.address::before {
          background-image: url('../images/icon-location.svg');
        }
  x
        &.telephone::before {
          background-image: url('../images/icon-location.svg');
        }

        &.email::before {
          background-image: url('../images/icon-email.svg');
        }

        a {
          color: colour.$secondary;
          text-decoration: none;
          transition: all 0.2s ease-in-out;

          &:hover {
            color: colour.$primary;
          }
        }
      }
    }

    .signoff {
      background-color: colour.$secondary;
      color: colour.$grey-light;
      padding-block: 1rem;

      .col-6 {
        display: flex;
        flex-direction: row;
        align-items: center;

        &:first-child {
          gap: 1rem;
          justify-content: flex-start;
        }

        &:last-child {
          justify-content: center;

          @include breakpoints.breakpoint(ipadPro) {
            justify-content: flex-end;
          }
        }

        p {
          font-size: fonts.$size-2;
          font-weight: fonts.$medium;
        }
      }
    }
  }
</style>