<section>
  <div class="row">
    <div class="col-1-10 col-ipadPro-2-8 txt-center flow">
      <h2 class="h3">Through our empathy for, and our understanding of, buildings, we work with very bones of your house - your windows, your doors, your walls, your floors - making them as good as they ever were, and just as beautiful.</h2>
      <p>We'd love to show you how much we care about this all, how important it is to work directly with our clients on every detail, and how much knowledge, experience and imagination we bring to each project.</p>
      <p>We don't just rebuild your house. We bring it back to life.</p>
    </div>
  </div>
</section>