@use '../../config/breakpoints';
@use '../../config/colour';
@use '../../config/fonts';

.button {
  display: inline-block;
  font-family: fonts.$secondary;
  font-size: fonts.$size-4;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  border: 2px solid;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
  appearance: none;
  padding: 0.75rem 1.5rem;
  letter-spacing: 1.5px;

  &.primary {
    color: colour.$white;
    background: colour.$primary;
    border-color: colour.$primary;

    &:hover {
      background: darken(colour.$primary, 12%);
      border-color: darken(colour.$primary, 12%);
    }
  }

  &.secondary {
    color: colour.$white;
    background: colour.$secondary;
    border-color: colour.$secondary;

    &:hover {
      background: darken(colour.$secondary, 12%);
      border-color: darken(colour.$secondary, 12%);
    }
  }

  &.fw-mobile {
    @include breakpoints.breakpoint(mobile) {
      min-width: 100%;
    }
  }
}
