$paddingAmount: 6rem;

section:not([class]) {
  padding-block: $paddingAmount;
}

.about {
  padding-block: $paddingAmount;
}

footer {
  .row.top {
    &:first-of-type {
      padding-block: $paddingAmount;
    }
  }
}
