.underline {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    height: 1em;
    bottom: -0.6em;
    background-image: url('../../images/underline.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}
